body
{
    font-family: sans-serif;
    background-color: whitesmoke;
    color: black;   
}
li
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.medium
{
    background-color:yellow;
    margin: 10px;
}
.novice
{
    background-color:burlywood;
    margin: 10px;
}
.beginner
{
    background-color:darkcyan;
    margin: 10px;
}